{%extends "base.html"%}
{% load bootstrap4 %}
{%block content%}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            <p class="text-danger">{{user.bio}}</p>
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% u_bootstrap_form form %}
        {% p_bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-sm">Update Profile</button>
    </form>
</div>
{%endblock content%}