{% extends 'index.html' %}
{% block content %}

<div class="container " id="profile" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <h3 >Profile</h3>

    {% if user.is_authenticated %}
    <p>Username: {{user.username}}<br>
        Bio: {{user.profile.bio}}<br>
        <img src="{{user.profile.profile_image.url}}" width="240" style="border-radius: 25px">
        <br>
        <br>

        <a href=""> <button type="button" class="btn btn-primary btn-sm">Following</button></a>
        <a href=""> <button type="button" class="btn btn-success btn-sm">Followers</button></a>

        {% endif %}

        <hr>
        <div class="container" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">

            {% if images %}
            <h1>My posted images</h1>
            <div class="row">

                {% for image in images %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{{ image.image.url }}"/>
                        <div class="card-body">
                <!-- <h5 class="card-title"></h5> -->
                </a>
            </div>
            <small class="text-muted">Posted : {{image.created_on|timesince}}</small>
        </div>
    </div>
    {% endfor %}


{% else %}

<h5> There are still no images for user : {{user.username}}</h5>

{% endif %}
<hr>

{% endblock %}
</div>
