{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="container-log mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 mt-4">
            <div class="card ">
                <div class="card-body mb-3 mr-3 ml-3">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
    {% bootstrap_field field %}
{% endfor %}
                        <button type="submit" class="btn btn-primary btn-sm D-block mx-auto"> Log In</button>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mb-3 mr-2 ml-4">
                    Don't have an account? <a href="{%url 'register'%}">Sign up</a>
                </div>
            </div>
            <div class="container">
                <p class="text-center mt-4">Get the app</p>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 mb-2">
                        <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo"><img src="{% static 'Images/getappstore.png' %}" alt="" width="100%" class="download"></a>
                    </div>
                    <div class="col-md-5 mb-2">
                        <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=signupPage&ig_mid=BF2AFA44-D32F-4497-BE25-359BEEB74BD2&utm_content=lo&utm_medium=badge"><img src="{% static 'Images/GOOGLEPLAY.png.png' %}" alt="" width="100%" class="download"></a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}
